body{
  font-family: "Arial";
  background-color: #EDEEF0;
}

a{
  text-decoration: none;
}

.App {
  text-align: center;
}

.full-width-block {
  display: block;
  float: left;
  width: 100%;
}

.half-width-block{
  float: left;
  display: inline-block;
  width: 100%;
}

.bottom-margin-1x {
  margin-bottom: 16px;
}

.chart{
  width: 100%;
  background-color: #fff;
}

.param-field-container{
  display: inline-block;
  margin-right: 16px;
}

.param-field {
  max-width: 120px;
  background-color: #fff;
}

.select-field{
  width: 120px;
  max-width: 130px;
  cursor: pointer;
  background-color: #fff;
}

@media (min-width: 570px){
  .half-width-block{
    width: 50%;
  }
}

@media (min-width: 1040px){
  .half-width-block{
    width: 33%;
  }
}